<!doctype html>
<html lang="en">
<head>
  <meta name="author" content="Ajdin Sirbegovic" />
  <meta name="copyright" content="Ajdin Sirbegovic" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="loginBody">
    <div class="loginName">
      <div class="loginName1"><span style="color: #1026F2;">mailer</span><span style="color: #000000;">boks</span></div>
    </div>
    <div class="loginDots">
      <div class="dot1"></div>
      <div class="dot2"></div>
      <div class="dot3"></div>
    </div>
    <div class="loginMessage">Connect Your Email Inbox</div>
    <div class="login-form">
      <div class="maillink">
        <div class="emailicon1">
          <div class="emailicon2">

          </div>
        </div>
        <div class="emailicontext">
          <p class="emailicontext1">Inbox</p>
          <p class="emailicontext2">Connect</p>
        </div>
      </div>
      <div class="connectlater">
        <span class="spanconnectlater">Connect Later</span>
      </div>
    </div>
  </div>
</body>
</html>