<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-left">
        <a class="logo" href="#">Mailer<span class="boks">Boks</span></a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link" href="#">Features</a>
      </div>
      <div class="navbar-right">
        <button class="btn" id="login">Log in</button>
        <button class="btn" id="trial" (click)="navigateToSignup()">
          Start a 7-Day Trial
        </button>
      </div>
    </div>

    <div class="pocetna">
      <p></p>
      <p class="prvitext">
        THE PLACE WHERE SENDING EMAILS IS<span class="plava"> EASY</span>
      </p>
      <img src="prvaslika.png" alt="image" />
      <p class="subtext">Write,edit & generate more opportunities from email</p>
    </div>
    <div class="freetrialbutton">
      <button id="freet" type="button">Start free 7-day trial</button>
    </div>
    <div class="cancel">
      <p>Cancel anytime</p>
    </div>
    <div class="middlep">
      <p>All you need in one place</p>
    </div>
    <div class="wemail">
      <div class="firsthero">
        <h1>Writing Emails Just Got Easier Than Ever</h1>
        <p>
          No more ugly UI. Write beautiful emails from a beautiful Interface
          with value, share lessons and write better than ever.
        </p>
        <h3>Easier Writing</h3>
        <h3>Beautiful UI</h3>
        <h3>No Complexity</h3>
        <button id="register" type="button">Start a free trial</button>
      </div>
      <div class="secondhero">
        <h1>Track Your Marketing Performance & Efficiency</h1>
        <p>
          Track all of your email marketing in one place. View your best
          performances and double down on your best campaigns.
        </p>
        <h3>View & Improve Performance</h3>
        <h3>Everything In One Place</h3>
        <h3>Automate Sequences</h3>
        <button id="register" type="button">Start a free trial</button>
      </div>
      <div class="thirdhero">
        <h1>Automate Your Marketing Campaigns</h1>
        <p>
          Automate your email marketing sequences to run on autopilot. Easily
          develop sequences and automate them to run 24/7.
        </p>
        <h3>Automations</h3>
        <h3>Sequences</h3>
        <h3>If this, then that Rulesy</h3>
        <button id="register" type="button">Start a free trial</button>
      </div>
      <!-- ovdje je FAQ -->
      <section class="faq">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-item">
          <h3>How many emails can I send?</h3>
          <p>
            You can send as many as you want! We will never force you to a limit
            of emails that you can send, but the amount of emails that you can
            send is limited to the plan you are payingThe bigger the plan you
            have, the more emails you can send!
          </p>
        </div>
        <div class="faq-item">
          <h3>How much does Mailerboks cost?</h3>
          <p>
            Mailerboks has 3 different plans! The cheapest plan starts at $29,
            and it goes up to $97 for the highest, and $47 for the mid-tier
            option
          </p>
        </div>
        <div class="faq-item">
          <h3>How many accounts can I have?</h3>
          <p>
            You can have up to 5 accounts with the cheapest option, 10 with the
            mid tier, and 20 with the highest paid option. We do not want to
            limit you so you can also invite your team as well!
          </p>
        </div>
      </section>

      <!-- ovdje zavrsava FAQ -->

      <section id="pricing">
        <div class="pricing">
          <h2>Pricing</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="pricing-table">
                <h3>Basic</h3>
                <div class="price">$10/month</div>
                <ul>
                  <li>Feature 1</li>
                  <li>Feature 2</li>
                  <li>Feature 3</li>
                </ul>
                <a href="#" class="buttonprice">Sign Up</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pricing-table">
                <h3>Pro</h3>
                <div class="price">$20/month</div>
                <ul>
                  <li>Feature 1</li>
                  <li>Feature 2</li>
                  <li>Feature 3</li>
                  <li>Feature 4</li>
                </ul>
                <a href="#" class="buttonprice">Sign Up</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="pricing-table">
                <h3>Premium</h3>
                <div class="price">$30/month</div>
                <ul>
                  <li>Feature 1</li>
                  <li>Feature 2</li>
                  <li>Feature 3</li>
                  <li>Feature 4</li>
                  <li>Feature 5</li>
                </ul>
                <a href="#" class="buttonprice">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ovdje pocinje pricing kutije-->

      <div class="flex-container">
        <div class="flex-box">s</div>
        <div class="flex-boxtwo">The Mini Creator</div>
        <div class="flex-box">The Pro Influencer</div>
      </div>
    </div>
  </body>
</html>
