body {
  margin: 0;
  padding: 0;
  border: 1px solid red !important;
  max-width: 100%;
}

.navbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d0cfcf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  color: #3c4490;
  font-size: 20px;
  text-decoration: none;
}

.boks {
  color: navy;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.nav-link {
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: linear-gradient(90deg, navy 50%, gray 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}

.nav-link:hover {
  --_p: 0%;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #0d1ca3;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 10px;
}

#login {
  background-color: #f5f5f5;
  opacity: 60%;
  color: gray;
}

.cancel {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlep {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.middlep p {
  font-size: 75px;
  text-shadow: 5px 5px 5px gray;
  font-weight: bold;
}

.firsthero {
  padding-right: 65%;
  margin-left: 5%;
  padding-top: 6%;
}

.secondhero {
  padding-top: 8%;
  padding-right: 3%;
  margin-left: 65%;
}

.thirdhero {
  padding-right: 65%;
  margin-left: 5%;
  padding-top: 6%;
}

.faq {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px 0;
}

.faq h2 {
  text-align: center;
  margin-bottom: 30px;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(204, 209, 241);
}

.faq-item h3 {
  margin-top: 0;
}

.faq-item p {
  margin-bottom: 0;
}

.flex-box {
  width: 200px;
  height: 200px;
  background: rgb(226, 223, 223);
  color: rgb(24, 24, 24);
  font-size: 25px;
  text-align: center;
  line-height: 90px;
  border-radius: 10px;
  margin: 10px;
}

.flex-boxtwo {
  width: 200px;
  height: 220px;
  background: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  line-height: 80px;
  border-radius: 10px;
  margin: 10px;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  padding-inline: 28%;
  margin-top: 60px;
  border: black;
}

.pricingh2 {
  text-align: center;
  font-size: 20px;
  display: flex;
}

.pricing {
  width: 100%;
  height: auto;
  display: flex;
  padding-inline: 28%;
  margin-top: 60px;
  border: black;
}

.pricing-table {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 80px;
  text-align: center;
  font-size: 25px;
  text-align: center;
}
