<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="dashboard">
    <div class="menu">
      <div class="menu1">
        <span class="dashboardmailer">mailer</span><span class="dashboardboks">boks</span>
      </div>
      <div class="menu2">
        <div class="dashboardmenu"></div>

        </div>
      <div class="menu3"></div>
    </div>
    <div class="desktoppage">
      <div class="behindmenu"></div>
      <div class="maindesktop">

        <div class="landingpage">
          <span class="landingpagetext">Landing Page & Forms</span>
          <div class="statistics">
            <div class="todaystat">
              <span class="7daystatnum" id="stats">0</span>
              <span>TODAY</span>
            </div>
            <div class="7daystat">
              <span class="7daystatnum" id="stats">0</span>
              <span>7 DAYS</span>
            </div>
            <div class="30daystat">
              <span class="7daystatnum" id="stats">0</span>
              <span>30 DAYS</span>
            </div>
            <div class="totalstat">
              <span class="7daystatnum" id="stats">0</span>
              <span>TOTAL</span>
            </div>
          </div>
          <div class="dateselect">
            <div class="dateselectmain">
              <div class="date">
                <span class="datespan">February 23, 2023</span>
              </div>
              <div class="datemenu">
                <div class="datemenuin">
                  <div class="datemenubar1" id="datemenubar"></div>
                  <div class="datemenubar1" id="datemenubar"></div>
                  <div class="datemenubar1" id="datemenubar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="analyticsreport">
          <span class="analyticsreporttext">Analytics Report</span>
          <div class="analyticsreporttable">
            <div class="analyticstabletop">
              <div class="analyticstabletopleft">
                <span>140k</span>
                <span>120k</span>
                <span>100k</span>
                <span>80k</span>
                <span>60k</span>
                <span>40k</span>
                <span>20k</span>
                <span>0k</span>
              </div>
              <div class="analyticstabletopright">
                
              </div>
            </div>
            <div class="analyticstablebottom">
              <div class="analyticstablebottomleft"></div>
              <div class="analyticstablebottomright">
                <span>12</span>
                <span>13</span>
                <span>14</span>
                <span>15</span>
                <span>16</span>
                <span>17</span>
                <span>18</span>
                <span>19</span>
                <span>20</span>
                <span>21</span>
                <span>22</span>
              </div>
            </div>
          </div>
        </div>

        <div class="landingpageforms">
          <span class="landingpageformstext">Landing Page & Forms</span>
          <div class="landingpageformscreate">
            <div class="landingpageformscreateicon">
              <div class="landingpageformscreateicontop"></div>
              <div class="landingpageformscreateiconbottom">
                <div class="landingpageformscreateiconbottomin"></div>
              </div>
            </div>
            <div class="landingpageformscreatebutton">
              <div class="landingpageformscreatebuttonleft">
                <div class="plusvertical"></div>
                <div class="plushorisontal"></div>
              </div>
              <div class="landingpageformscreatebuttonright">
                <span class="landingpageformscreatebuttonrightspan">Create new</span>
              </div>
            </div>
          </div>
        </div>
        <div class="newlandingpageforms">
          <div class="newlandingpageformstop">
            <div class="newlandingpageformstopicon">
              <div class="newlandingpageformstopiconline"></div>
              <div class="newlandingpageformstopicondot"></div>
            </div>
            <span class="newlandingpageformstoptext">Abbey Landing Page</span>
          </div>
          <div class="newlandingpageformsbottom">
            <div class="newlandingpageformsbottom1">
              <span class="newlandingpageformsbottomnum">0</span>
              <span class="newlandingpageformsbottomname">VISITORS</span>
            </div>
            <div class="newlandingpageformsbottom2">
              <span class="newlandingpageformsbottomnum">0</span>
              <span class="newlandingpageformsbottomname">SUBSCRIBERS</span>
            </div>
            <div class="newlandingpageformsbottom3">
              <span class="newlandingpageformsbottomnum">0%</span>
              <span class="newlandingpageformsbottomname">CONVERSATION RATE</span>
            </div>
          </div>
        </div>

        <div class="subscribers">
          <span class="subtext">Subscribers</span>
          <div class="subtextbottom">
            <div class="subtextbottomtext">
              <span class="subtextbottom1">Net new subscribers</span>
              <span class="subtextbottom1">Total subscribes</span>
              <span class="subtextbottom1">Purchases</span>
              <span class="subtextbottom1">Unsubscribers</span>
            </div>
            <div class="subtextbottombuttons">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>